{% extends "base.html" %}

{% block text %}
    <div class="div container alert alert-dark">
        <div class="div row">
            <div class="div col-sm-6">
                <h1 class="alert alert-danger"><i><b>UPDATE STUDENT</b></i></h1>
                <form action="" method="POST">
                    {% csrf_token %}
                    {{forms.as_p}}
                    <input type="submit" value="Sub" class="btn btn-danger">
                    <a href="{% url 'add'%}" class="btn btn-success">Go back home</a>
                </form>
            </div>
        </div>

    </div>
{% endblock text %}
    